* {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
}

.form-outer-wrapper {
    margin: 4.5%;
    border: 1px solid #2c211e;
    background-color: #f3cfc6b0;
    border: 10px double #642A11;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    height: 450px; 
    width: 450px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 25px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.success {
    color: red;
}

.error-name {
    color: red; 
}

.error-email{
    color: red; 
}

.error-password {
    color: red; 
}